body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

.container {
  padding: 0 70px;
  margin-top: 80px;
}

/* Navigation Bar */

nav {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.nav-links a:hover {
  background: #444;
}

/* Hero Section */

.hero {
  background: lightblue;
  text-align: center;
  padding: 40px;
}

.hero button {
  background: darkblue;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}

.hero button:hover {
  background: navy;
}

/* Courses Section */

.courses {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.card button {
  background: #222;
  color: white;
  border: none;
  padding: 8px 15px;
}

.card button:hover {
  background: #555;
}

/* Table Section */

.students {
  padding: 30px;
}

.students table {
  width: 100%;
  border-collapse: collapse;
  /* border-spacing: 0px; */
  background: white;
}

.students th,
.students td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

.students thead {
  background: #318153;
  color: white;
}

.students tbody tr:nth-child(even) {
  background: #f2f2f2;
}

.students tfoot {
  background: #ddd;
  font-weight: bold;
}

/* Contact Form */

.contact {
  padding: 30px;
}

.contact form {
  max-width: 400px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact button {
  background: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
}

.contact button:hover {
  background: navy;
}

/* Footer */

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 73px;
}
